table {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center; 
    vertical-align: middle; 
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
     padding: 10px;
    vertical-align: middle;
  }

  tr:nth-child(even) {background-color: rgb(254, 212, 139);
}